.carousel-item>div:first-child {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: #000000 0px -150px 150px -15px inset;
}

.carousel-item{
    background-color: #000000;
}

.carousel button>span,
.carousel h5 {
    filter: drop-shadow(5px 5px 15px #000000);
}


.carousel-caption {
    height: auto!important;
    bottom: 0;
}

.carousel-caption>h5 {
    font-size: 300%;
}
/* 
#category-list{
    background-color: #046788;
} */

.card {
    box-shadow: 0px 15px 10px -15px #111;
}

a{
    text-decoration: none;
}


@media (max-width: 768px) {
    .carousel-item>div {
        height: 300px;
    }

    .carousel-caption h5 {
        font-size: 25px!important;
    }
}